<div class="single-restaurant">
    <div class="all-restaurants-form " >
        <h2>{{restaurant.name}}</h2>

        <br>
        <h3>All Menus: </h3>
        <div class="food-menus">
         {{#each menus}}
          <div class="food" key={{this.id}}>
            <button
    type="submit"
    onclick="location.href='/restaurants/{{../restaurant.id}}/menus/{{this.id}}'"
    class="btn"
  >{{this.title}}</button>
            </div>
        {{/each}}

        </div>
    </div>
    <div class="all-restaurants-form ">
        <h3>Add Menu: </h3>
        <form >
            <label for="Mname">Menu name:</label>
            <input type="text" >
            <label for="Iname">Item name:</label>
            <input type="text" >
            <label for="price">Price:</label>
            <input type="text" >
             <input type="submit" value="Submit" />
        </form>
    </div>
