<div class="single-restaurant">
    <div class="all-restaurants">

        <h2>{{restaurant.name}}</h2>
        <br>
        <h3>All Menus: </h3>
        <div class="food-menus">
         {{#each menus}}
          <div class="food" key={{this.id}}>{{this.title}}</div>
          <div>
          {{#each menus}}
          <div class="food" key={{this.id}}>{{this.title}}</div>
        {{/each}}
        </div>
        {{/each}}
        
        </div>
    </div>
    <div class="all-restaurants">
        <h3>Add Menu: </h3>
        <form >
            <label for="Mname">Menu name:</label><br>
            <input type="text" ><br>
            <label for="Iname">Item name:</label><br>
            <input type="text" ><br>
            <label for="price">Price:</label><br>
            <input type="text" ><br>
        </form> 
    </div>
       

</div>